<div class="footer">
    <div class="footer-inner">
		<div class="footer-links">
			<a href="#">Account</a>
			<a href="#">Support</a>
			<a href="#">Press</a>
			<a href="#">About Us</a>
			<a href="#">Privacy &amp; Terms</a>
		</div>
		<div class="footer-social">
			<a href="#"><img src="../../../content/images/fb-icon.svg" alt="facebook icon"></a>
			<a href="#"><img src="../../../content/images/twitter-icon.svg" alt="twitter icon"></a>
			<a href="#"><img src="../../../content/images/medium-icon.svg" alt="medium icon"></a>
		</div>
	</div>
</div>