<div>
    <header class="heading">
        <div class="bg1"></div>
        <div class="bg2"></div>
        <div class="bgmobile"></div>
        <div class="valignout">
            <div class="valignin">
                <div class="row">
                    <div class="col-sm-6 offset-sm-3 text-center">
                        <h1 class="mb-3">Theses</h1>
                        <button class="btn btn-primary jh-create-entity create-thesis" [routerLink]="['/', { outlets: { popup: ['thesis-new'] } }]">
                            <span class="fa fa-plus"></span>
                            <span class="hidden-sm-down" >
                                Create new Thesis
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-11">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
        <div class="btn-group flex-btn-group-container" data-toggle="buttons">
            <button class="btn btn-sm btn-secondary active" (click)="changeView(true)">
                    <span class="fa fa-th"></span>
                    <!--<span class=""  >Card</span>-->
            </button>
            <button class="btn btn-sm btn-secondary" (click)="changeView(false)">
                <span class="fa fa-list"></span>
                    <!--<span class="" >Table</span>-->
            </button>
        </div>
    </div>
    <br/>
    <div class="row p-3" *ngIf="theses && cardView">
        <div class="card" *ngFor="let thesis of theses ;trackBy: trackId">
            <div class="card-header">
                <a *ngIf="thesis.student" [routerLink]="['../student', thesis.student?.id ]">{{thesis.student?.name}}</a> &nbsp;
                | &nbsp;
                <a [routerLink]="['../leader', thesis.leader?.id ]">{{thesis.leader?.id}}</a>
            </div>
            <div class="card-block">
                <h4 class="card-title">{{thesis.title}}</h4>
                <p class="card-text">{{thesis.summary}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li [ngSwitch]="isAuthenticated()" class="list-group-item">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['../thesis', thesis.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'thesis/'+ thesis.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'thesis/'+ thesis.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </li>
                <li class="list-group-item" *ngIf="thesis.file">
                    <a (click)="openFile(thesis.fileContentType, thesis.file)">open</a>
                    <span>{{thesis.fileContentType}}, {{byteSize(thesis.file)}}</span>
                </li>
            </ul>
            <div class="card-footer text-muted text-center">
                {{thesis.dayOfDefense | date:'medium'}} at {{thesis.locationOfDefense}}
            </div>
        </div>
    </div>
    <div class="table-responsive" *ngIf="theses && !cardView">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="title"><span>Title</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="majorTitle"><span>Major Title</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="summary"><span>Summary</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="numOfReferee"><span>Number Of Referee</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="dayOfDefense"><span>Day Of Defense</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="locationOfDefense"><span>Location Of Defense</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="file"><span>File</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="student.name"><span>Student</span> <span class="fa fa-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let thesis of theses ;trackBy: trackId">
                    <td><a [routerLink]="['../thesis', thesis.id ]">{{thesis.id}}</a></td>
                    <td>{{thesis.title}}</td>
                    <td>{{thesis.majorTitle}}</td>
                    <td>{{thesis.summary}}</td>
                    <td>{{thesis.numOfReferee}}
                        <span *ngIf="thesis.numOfReferee < 2" class="badge badge-danger"><span class="fa fa-exclamation" aria-hidden="true"></span></span>
                    </td>
                    <td>{{thesis.dayOfDefense | date:'medium'}}</td>
                    <td>{{thesis.locationOfDefense}}</td>
                    <td>
                        <a *ngIf="thesis.file" (click)="openFile(thesis.fileContentType, thesis.file)">open</a>
                        <span *ngIf="thesis.file">{{thesis.fileContentType}}, {{byteSize(thesis.file)}}</span>
                    </td>
                    <td>
                        <div *ngIf="thesis.student">
                            <a [routerLink]="['../student', thesis.student?.id ]">{{thesis.student?.name}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['../thesis', thesis.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'thesis/'+ thesis.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'thesis/'+ thesis.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="theses && theses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
