<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLevelLabel">Create or edit a Level</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!level.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="level.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_level">Level</label>
            <select class="form-control" name="level" [(ngModel)]="level.level" id="field_level" >
                <option value="PROFESSOR">PROFESSOR</option>
                <option value="ASSISTANTPROFESSOR">ASSISTANTPROFESSOR</option>
                <option value="ASSOCIATEPROFESSOR">ASSOCIATEPROFESSOR</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_capacityOfYear">Capacity Of Year</label>
            <input type="number" class="form-control" name="capacityOfYear" id="field_capacityOfYear"
                [(ngModel)]="level.capacityOfYear" min="0" max="15" />
            <div [hidden]="!(editForm.controls.capacityOfYear?.dirty && editForm.controls.capacityOfYear?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.capacityOfYear?.errors?.min">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.capacityOfYear?.errors?.max">
                    This field cannot be more than 15.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.capacityOfYear?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_capacityOfTotal">Capacity Of Total</label>
            <input type="number" class="form-control" name="capacityOfTotal" id="field_capacityOfTotal"
                [(ngModel)]="level.capacityOfTotal" min="0" max="40" />
            <div [hidden]="!(editForm.controls.capacityOfTotal?.dirty && editForm.controls.capacityOfTotal?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.capacityOfTotal?.errors?.min">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.capacityOfTotal?.errors?.max">
                    This field cannot be more than 40.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.capacityOfTotal?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
