<div class="account">
    <header class="heading">
        <div class="bg1"></div>
        <div class="bg2"></div>
        <div class="bgmobile"></div>
        <div class="valignout">
            <div class="valignin">
                <div class="row">
                    <div class="col-sm-6 offset-sm-3 text-center">
                        <h1 class="mb-3">Activation</h1>
                    </div>
                </div>
            </div>
        </div>
     </header>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="alert alert-success" *ngIf="success">
                <span><strong>Your user account has been activated.</strong> Please </span>
                <a class="alert-link" (click)="login()">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Your user could not be activated.</strong> Please use the registration form to sign up.
            </div>

        </div>
    </div>
</div>
