/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
    font-size: 10px;
    color: #ccc
}

.jh-navbar {
    border-bottom: 1px solid #F2F2F2;
    background-color: #fff;
    padding: .2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active,
    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: #00c860;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}


/* ==========================================================================
Logo styles
========================================================================== */

.navbar-brand {
    &.logo {
        padding: 5px 15px;
        .logo-img {
            height: 30px;
            width: 136.8px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo-green.svg") no-repeat center center;
            background-size: contain;
        }
    }
}

.login {
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    >a {
        height: 32px;
        border: 1px solid #CBCBCB;
        border-radius: 4px;
        display: block;
        padding: 0 10px 0 10px;
        line-height: 32px;
        font-weight: 300;
        text-transform: uppercase;
        color: #898989;
        font-size: 12px;
        transition: all .25s ease;
    }
}
